@page "/report"

@using Telerik.ReportViewer.Blazor


<style>
    .trv-report-viewer {
        width: 100%;
        height: 880px;
    }
</style>

<div class="dashboard">

    <ReportViewer ViewerId="rv1"
                  ServiceUrl="/api/reports"
                  ReportSource="@(new ReportSourceOptions
                                  {
                                      Report = "rps_table_report.trdp",
                                      Parameters = new Dictionary<string, object>
                                      {
                                          {
                                            "ReportName", ReportName
                                          }
                                      }
                                  })"
                  />

</div>


<link href="css/dashboard.css" rel="stylesheet" />

@code {
    string ReportName = "All Issues";
}