@page "/report"

@using Telerik.ReportViewer.Blazor


<style>
    .trv-report-viewer {
        width: 100%;
        height: 880px;
    }
</style>

<div class="dashboard">

    <ReportViewer ViewerId="rv1"
                  ServiceUrl="/api/reports"
                  ReportSource="@(new ReportSourceOptions
                                  {
                                      Report = "rps_dashboard_report.trdp"
                                  })"
                  />

</div>


<link href="css/dashboard.css" rel="stylesheet" />

@code {

}