<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />

    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="RPS.Web.styles.css" />


    <link rel="icon" type="image/ico" href="favicon.ico" />

    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>


    <HeadOutlet @rendermode="InteractiveServer" />

    @* Report Viewer dependencies *@
    <script src="_content/Telerik.UI.for.Blazor/js/telerik-blazor.js"></script>
    <script src="_content/Telerik.ReportViewer.BlazorNative/js/reporting-blazor-viewer.js"></script>
    <link rel="stylesheet" href="_content/Telerik.UI.for.Blazor/css/kendo-theme-default/all.css" />
    <link href="_content/Telerik.ReportViewer.BlazorNative/css/reporting-blazor-viewer.css" rel="stylesheet" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" /> 
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
